body {
    font-family: monospace;
    background-image: url("images/w7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.active {
    background-color: rgb(129, 8, 228);
  }
h1 {
    text-align: center;
    color: aliceblue;
}

h2 {
    padding: .1cm;
    text-align: center;
}

#int_name {
  text-align: center;
}

h3 {
    padding-left: .5cm;
    padding-right: .5cm;
    font-size: larger;
}
p {
    padding: .2cm;
    font-size: larger;
}
.contact {
    padding-left: 1cm;
    font-size: larger;
}

ul {
    font-size: larger;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(129, 8, 228);
  }

  .contentblock {
    margin-top: 1cm;
    border-style: groove;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 1, 1);
  }

  #em {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  #content_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9; 
  
  }
  #task_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9; 
  }

  #journey_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9; 
  }